.logo{
    /* margin-top: 2rem; */
    transform:  matrix(1,-.03,.04,1,0,0);
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 15px;
    color: rgb(233, 148, 83);
}
.logoparent{
    position: relative;
    padding: .2rem;
    border: 2px solid rgb(233, 148, 83);
    margin-top: 10rem;
    margin-left: 3rem;
    border-top: 4px solid rgb(233, 148, 83);

}
.logochild{
        /* margin-top: 100px; */
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 10px;
    border: 2px solid rgb(233, 148, 83);
    padding: .2rem;
    /* background-color: chartreuse; */
    
}

